<div class="side-bar">
  <div class="header">
    <h3 class="header__name">
      <%= current_user.name %>
    </h3>
    <ul class="header__lists">
      <li class="list">
        <%= link_to do %>
          <%= fa_icon 'pencil-square-o', class: 'icon' %>
        <% end %>
      </li>
      <li class="list">
        <%= link_to edit_user_path(current_user) do %>
          <%= fa_icon 'cog', class: 'icon' %>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="groups">
    <div class="group">
      <div class="group__name">
        グループ名
      </div>
      <div class="group__message">
        新着メッセージ
      </div>
    </div>
    <div class="group">
      <div class="group__name">
        グループ名
      </div>
      <div class="group__message">
        新着メッセージ
      </div>
    </div>
    <div class="group">
      <div class="group__name">
        グループ名
      </div>
      <div class="group__message">
        新着メッセージ
      </div>
    </div>
  </div>
</div>
